package {{.BasePackage}}.{{.ModelSubPackage}};

import {{.BasePackage}}.common.model.BaseModel;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import lombok.Data;
import org.springframework.validation.annotation.Validated;
import lombok.EqualsAndHashCode;
import lombok.ToString;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.experimental.Accessors;
import org.hibernate.validator.constraints.Range;
import javax.validation.constraints.*;
import java.math.BigDecimal;

/**
 *
 * {{.TableComment}}
 *
 * @author {{.Author}}
 * @version {{.Version}}
 * @date {{.CreateTime}}
 */
@Data
@ToString
@Validated
@Accessors(chain = true)
@Schema(description = "{{.TableComment}}")
@JsonIgnoreProperties(ignoreUnknown = true)
@EqualsAndHashCode(callSuper = true)
public class {{.TableClassName}} extends BaseModel {
{{range $i, $el := .Fields}}
    {{- if eq $i (sub (len $.Fields) 1) -}}
            {{- $el -}}
    {{- else -}}
            {{- $el -}} {{"\n"}}
    {{- end -}}
{{- end -}}
}