package {{.BasePackage}}.model.po;

import {{.BasePackage}}.model.BaseModel;
import com.fasterxml.jackson.databind.PropertyNamingStrategies;
import com.fasterxml.jackson.databind.annotation.JsonNaming;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.experimental.Accessors;
import org.hibernate.validator.constraints.Range;
import javax.validation.constraints.*;
import java.math.BigDecimal;

/**
 *
 * {{.TableComment}}
 *
 * @author : {{.Author}}
 * @version : {{.Version}}
 * @date : {{.CreateTime}}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@ToString
@Accessors(chain = true)
@JsonNaming(PropertyNamingStrategies.UpperCamelCaseStrategy.class)
public class {{.TableClassName}} extends BaseModel {
{{range $i, $el := .Fields}}
    {{- if eq $i (sub (len $.Fields) 1) -}}
            {{- $el -}}
    {{- else -}}
            {{- $el -}} {{"\n"}}
    {{- end -}}
{{- end -}}
}