<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="{{.BasePackage}}.mapper.{{.TableClassName}}Mapper">

    <resultMap id="RM_{{.TableClassName}}" type="{{.BasePackage}}.model.po.{{.TableClassName}}">
{{ range $i, $el := .Columns -}}
    {{- if eq $i (sub (len $.Columns) 1) -}}
            {{- "        " -}} <result property="{{$el.ClassFieldName}}" column="{{$el.ColumnName}}"/>
    {{- else -}}
            {{- "        " -}} <result property="{{$el.ClassFieldName}}" column="{{$el.ColumnName}}"/>{{"\n"}}
    {{- end -}}
{{- end }}
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
{{ range $i, $el := .Columns -}}
    {{- if eq $i (sub (len $.Columns) 1) -}}
            {{- "        " -}} `{{$el.ColumnName}}`
    {{- else -}}
            {{- "        " -}} `{{$el.ColumnName}}`{{",\n"}}
    {{- end -}}
{{- end }}
    </sql>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="{{.TablePrimaryKey}}">
        INSERT INTO `{{.TableClassName}}` 
        (
{{ range $i, $el := .Columns -}}
    {{- if eq $i (sub (len $.Columns) 1) -}}
            {{- "        " -}} `{{$el.ColumnName}}`
    {{- else -}}
            {{- "        " -}} `{{$el.ColumnName}}`{{",\n"}}
    {{- end -}}
{{- end }}
        ) 
        VALUES
        <foreach collection="list" item="item" separator=",">
        (
{{ range $i, $el := .Columns -}}
    {{- if eq $i (sub (len $.Columns) 1) -}}
            {{- "        " -}} #{item.{{$el.ClassFieldName}}}
    {{- else -}}
            {{- "        " -}} #{item.{{$el.ClassFieldName}}}{{",\n"}}
    {{- end -}}
{{- end }}
        )
        </foreach>
    </insert>

    <insert id="insert" useGeneratedKeys="true" keyProperty="{{.TablePrimaryKey}}">
        INSERT INTO `{{.TableClassName}}` 
        (
{{ range $i, $el := .Columns -}}
    {{- if eq $i (sub (len $.Columns) 1) -}}
            {{- "        " -}} `{{$el.ColumnName}}`
    {{- else -}}
            {{- "        " -}} `{{$el.ColumnName}}`{{",\n"}}
    {{- end -}}
{{- end }}
        ) 
        VALUES
        (
{{ range $i, $el := .Columns -}}
    {{- if eq $i (sub (len $.Columns) 1) -}}
            {{- "        " -}} #{ {{- $el.ClassFieldName -}} }
    {{- else -}}
            {{- "        " -}} #{ {{- $el.ClassFieldName -}} }{{",\n"}}
    {{- end -}}
{{- end }}
        )
    </insert>


</mapper>